In [1]:
New Notebook

ERROR: Error in parse(text = x, srcfile = src): <text>:1:5: unexpected symbol
1: New Notebook
        ^

# Japanese Region Based on Height and Weight in Males

# Introduction

# Preliminary Exploratory Analysis

In [4]:
library(tidyverse)

A demonstration that the data set `man.csv` can be read into R

In [7]:
man_data <- read_csv("man.csv")
head(man_data)

Rows: 624 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): category
dbl (5): year, height_average, height_standard deviation, body weight _avera...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  year category height_average height_standard deviation body weight _average
1 5    national 111.0          4.87                      19.3
2 5    Hokkaido 111.3          4.81                      19.3
3 5    Aomori   111.8          4.87                      19.9
4 5    Iwate    111.0          5.08                      19.6
5 5    Miyagi   111.3          4.90                      19.7
6 5    Akita    112.3          5.08                      19.9
  body weight _standard deviation
1 2.79
2 2.83
3 2.78
4 3.02
5 3.04
6 3.16

Removed the unused

ERROR: Error in UseMethod("count"): no applicable method for 'count' applied to an object of class "character"

# Methods

# Expected Outcomes and Significance