In [1]:
New Notebook

ERROR: Error in parse(text = x, srcfile = src): <text>:1:5: unexpected symbol
1: New Notebook
        ^

# Height and Weight of Boys Ages 5-17 Across Japan

# Introduction

Every year across Japan, measurement sessions are required by the government to be held at elementary schools in every region from ages 5-17, measuring each child's height and weight. **Using this data, we will be predicting the age of the child based on given height and weight in boys.** We will be splitting the dataset into a training and testing set to test the accuracy of the model of predicting the age from the testing data’s height and weight of boys 5-17 in Japan.

# Preliminary Exploratory Analysis

In [16]:
install.packages("janitor")
library(tidyverse)
library(janitor)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done


Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

A demonstration that the data set `man.csv` can be read into R

In [7]:
man_data <- read_csv("man.csv")
head(man_data)

Rows: 624 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): category
dbl (5): year, height_average, height_standard deviation, body weight _avera...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  year category height_average height_standard deviation body weight _average
1 5    national 111.0          4.87                      19.3
2 5    Hokkaido 111.3          4.81                      19.3
3 5    Aomori   111.8          4.87                      19.9
4 5    Iwate    111.0          5.08                      19.6
5 5    Miyagi   111.3          4.90                      19.7
6 5    Akita    112.3          5.08                      19.9
  body weight _standard deviation
1 2.79
2 2.83
3 2.78
4 3.02
5 3.04
6 3.16

### Data wrangling and cleaning 
1. clean the column names using `clean_names` to make column name only contain lower case letters and underscores.
2. remove the unused columns (variables): `category`, `height_standard_deviation`, `body_weight _standard_deviation`.
3. change the column (variable) `year` to `age`.

In [19]:
clean_man_data <- man_data |>
        clean_names() |>
        select(-category, -height_standard_deviation, -body_weight_standard_deviation) |>
        rename("age" = "year")
clean_man_data

    age height_average body_weight_average
1   5   111.0          19.3
2   5   111.3          19.3
3   5   111.8          19.9
4   5   111.0          19.6
5   5   111.3          19.7
6   5   112.3          19.9
7   5   111.5          19.5
8   5   111.0          19.7
9   5   110.8          19.4
10  5   110.8          19.4
11  5   111.3          19.6
12  5   110.5          19.1
13  5   111.1          19.3
14  5   111.2          19.2
15  5   110.8          19.4
16  5   111.7          19.5
17  5   111.4          19.3
18  5   112.4          19.7
19  5   111.7          19.4
20  5   110.4          19.2
21  5   111.1          19.0
22  5   111.1          19.2
23  5   110.8          19.1
24  5   110.7          19.0
25  5   110.8          19.3
26  5   110.6          19.1
27  5   111.6          19.3
28  5   111.2          19.2
29  5   111.6          19.5
30  5   111.0          19.3
⋮   ⋮   ⋮              ⋮
595 17  170.8          62.2
596 17  170.9          63.6
597 17  170.4          61.6
598 17  170.2          62.1
599 17  170.9          61.6
600 17  170.4          60.6
601 17  170.9          63.1
602 17  171.0          61.5
603 17  171.5          62.0
604 17  170.7          62.5
605 17  170.6          62.2
606 17  171.1          61.4
607 17  170.6          63.2
608 17  171.2          62.4
609 17  170.5          63.7
610 17  170.4          61.5
611 17  169.6          61.3
612 17  170.0          61.5
613 17  170.3          64.4
614 17  170.4          63.1
615 17  170.6          63.6
616 17  169.7          61.8
617 17  170.3          62.1
618 17  170.8          62.2
619 17  170.7          63.6
620 17  170.6          62.5
621 17  170.1          63.3
622 17  170.1          63.5
623 17  170.4          62.2
624 17  169.5          62.8

# Methods

To conduct our analysis, we will read and clean our data, select the weight and height columns for prediction, perform cross-validation, and perform some form of regression to predict age. We will then visualize our results, likely using a scatterplot with a regression line superimposed.

# Expected Outcomes and Significance